<h1>Routes!</h1>
<div class="map-container">
    <div class="map-box"
         leaflet 
         [leafletOptions]="options"
         (leafletMapReady)="onMapReady($event)">
    </div>
    <div class="info-box">
        <p>Total Distance:</p>
        <h2>{{ distance().toFixed(0) }} m</h2>
        <h2>{{ (distance() / 1000).toFixed(2) }} km</h2>
        <h2>{{ metersToTime(distance()) }} 5:00 /km pace</h2>
        <button (click)="removeAllMarkers()">Remove all markers</button>
        <button (click)="saveRoute()">Save Route</button>
        @if(savedRoutes.length > 0){
            <h3>Saved Routes</h3>
            <ul>
                @for(route of savedRoutes; let i = $index; track route){
                    <li>
                        <button (click)="restoreRoute(i)">Restore Route {{ i + 1 }}</button>
                    </li>
                }
            </ul>
        }
        <p>Click a marker to remove it.</p>
        <div class="route-itinerary" #routeItinerary></div> 
    </div>
</div>

