<div class="map-container">
    <div>
        <h1>Routes!#^</h1>
        <div class="map-box"
        leaflet 
        [leafletOptions]="options"
        (leafletMapReady)="onMapReady($event)">
    </div>
</div>
<div>
    <h1>{{ selectedRouteName }}</h1>
    <div class="info-box">
        <h2>{{ (distance() / 1000).toFixed(2) }} km</h2>        <h2>Estimated time: {{ metersToTime(distance()) }} 5:00 /km pace</h2>
        <div class="new-route-container">
            <div class="new-options">
            <button (click)="removeAllMarkers()">New Route</button>
            <button (click)="saveRoute()">Save Route</button>
        </div>
                <input [(ngModel)]="routeName" [ngClass]="{'input-error' : inputError}" placeholder="Enter route name" />
        </div>
        <div *ngIf="savedRoutes.length > 0">
            <h3>Saved Routes</h3>            
            <li *ngFor="let route of savedRoutes; let i = index">
                <button class="button" (click)="restoreRoute(i)">Load</button>
                <button (click)="deleteRoute(i)">Delete</button>
                <label>{{ route.name }}, {{ (route.distance / 1000).toFixed(2) }}km</label>
            </li>
        </div>
        <div class="route-itinerary" #routeItinerary></div> 
    </div>
</div>
</div>
